*.suo
/.vs/UnderstandingUnityEngine/v15/Server/sqlite3
/UnderstandingUnityEngine/bin/Debug
/UnderstandingUnityEngine/obj/Debug
LinearAlgebra/.vs/config/applicationhost.config
/LinearAlgebra/LinearAlgebra_Step01/x64
/LinearAlgebra/LinearAlgebra_Step02 Vectors/x64
/LinearAlgebra/LinearAlgebra_Step03 Basis/x64
/LinearAlgebra/LinearAlgebra_Step04 _Prepare/x64
/LinearAlgebra/LinearAlgebra_Step04 Matrix2/x64
/LinearAlgebra/LinearAlgebra_Step05 Matrix2 Multiplication/x64
/LinearAlgebra/LinearAlgebra_Step06 Homogeneous Matrix3/x64
/LinearAlgebra/LinearAlgebra_Step07 Polygon/x64
/LinearAlgebra/LinearAlgebra_Step08 Isometrix Projection/x64
/LinearAlgebra/LinearAlgebra_Step09 Perspective Projection/x64
